<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHeader(title)">
    <title th:text="${title}"></title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=8">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <!--<link rel="shortcut icon" th:href="@{/static/img/favicon.gif}" type="image/gif" />-->
 
    <!-- jquery -->
    <script th:src="@{/js/jquery/jquery.1.9.1.js}"></script>


    <script th:src="@{/js/jquery/ajaxfileupload.js}"></script>
    <script th:src="@{/js/layer/layer.js}"></script>
    <script th:src="@{/js/template.js}"></script>
    <script th:src="@{/js/jquery/jQuery.form.js}"></script>
    <script th:src="@{/js/jquery/common.js}"></script>
    <script th:src="@{/js/jquery/jqprint.js}"></script>
    <script th:src="@{/js/jquery/jquery-migrate-1.2.1.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.min.css}" />
    
	<!-- jquery.validate -->
	<script th:src="@{/js/jquery/jquery.validate.min.js}"></script>
	<script th:src="@{/js/easyui/jquery.easyui.min.js}"></script>
    <!--<script th:src="@{/js/easyui/jquery.min.js}"></script>-->

    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{js/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{js/bootstrap/css/bootstrap-datetimepicker.min.css}">
    <link rel="stylesheet" th:href="@{js/bootstrap/css/bootstrap-treeview.css}">
    <script th:src="@{js/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{js/bootstrap/js/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{js/bootstrap/js/bootstrap-datetimepicker.zh-CN.js}"></script>
    <script th:src="@{js/bootstrap/js/bootstrap-treeview.js}"></script>

    <!--&lt;!&ndash; easyui &ndash;&gt;-->
    <link rel="stylesheet"  th:href="@{/js/easyui/themes/default/easyui.css}">
    <link rel="stylesheet"  th:href="@{/js/easyui/themes/icon.css}">

   
    <script th:src="@{js/easyui/locale/easyui-lang-zh_CN.js}"></script>

    <script type="text/javascript" th:src="@{js/echarts/echarts.common.min.js}"></script>


    <script th:src="@{/js/core.js}"></script>

    <!-- <script th:src="@{js/easyui/avalon.modern.js}"></script> -->



    
</head>
<body>
</body>
</html>