<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qz.zframe.material.dao.MaterialMapper" >
  <resultMap id="BaseResultMap" type="com.qz.zframe.material.entity.Material" >
    <id column="material_id" property="materialId" jdbcType="VARCHAR" />
    <result column="material_code" property="materialCode" jdbcType="VARCHAR" />
    <result column="material_name" property="materialName" jdbcType="VARCHAR" />
    <result column="specifications" property="specifications" jdbcType="VARCHAR" />
    <result column="material_describe" property="materialDescribe" jdbcType="VARCHAR" />
    <result column="material_group_id" property="materialGroupId" jdbcType="VARCHAR" />
     <result column="group_name" property="materialGroupName" jdbcType="VARCHAR" />
    <result column="material_classify_id" property="materialClassifyId" jdbcType="VARCHAR" />
    <result column="classify_name" property="materialClassifyName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="ABC_logo" property="abcLogo" jdbcType="VARCHAR" />
    <result column="material_num" property="materialNum" jdbcType="VARCHAR" />
    <result column="material_texture" property="materialTexture" jdbcType="VARCHAR" />
    <result column="measuring_unit" property="measuringUnit" jdbcType="VARCHAR" />
    <result column="supplier_id" property="supplierId" jdbcType="VARCHAR" />
    <result column="supplier_name" property="supplierName" jdbcType="VARCHAR" />
    <result column="wind_id" property="windId" jdbcType="VARCHAR" />
    <result column="wind_name" property="windName" jdbcType="VARCHAR" />
    <result column="is_guarantee" property="isGuarantee" jdbcType="VARCHAR" />
    <result column="guarantee_days" property="guaranteeDays" jdbcType="INTEGER" />
    <result column="is_con_stock" property="isConStock" jdbcType="VARCHAR" />
    <result column="max_stock" property="maxStock" jdbcType="INTEGER" />
    <result column="min_stock" property="minStock" jdbcType="INTEGER" />
    <result column="is_batch_con" property="isBatchCon" jdbcType="VARCHAR" />
    <result column="safety_stock" property="safetyStock" jdbcType="INTEGER" />
    <result column="current_stock" property="currentStock" jdbcType="INTEGER" />
    <result column="average_price" property="averagePrice" jdbcType="DECIMAL" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="extend1" property="extend1" jdbcType="VARCHAR" />
    <result column="extend2" property="extend2" jdbcType="VARCHAR" />
    <result column="extend3" property="extend3" jdbcType="VARCHAR" />
    <result column="extend4" property="extend4" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Pagination_Sql">
		<if test="isPage == 1">
			limit #{pageIndex,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
		</if>
	</sql>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    material_id, material_code, material_name, specifications, material_describe, material_group_id, 
    material_classify_id, status, ABC_logo, material_num, material_texture, measuring_unit, 
    supplier_id, wind_id, is_guarantee, guarantee_days, is_con_stock, max_stock, min_stock, 
    is_batch_con, safety_stock, current_stock, average_price, is_delete, creater, create_time, 
    extend1, extend2, extend3, extend4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qz.zframe.material.entity.MaterialExample" >
    select a.material_id,a.material_code,a.material_name,a.specifications,a.material_describe,a.measuring_unit,c.classify_name
    from material a left join material_group b on a.material_group_id=b.material_group_id left join material_classify c on a.material_classify_id = c.material_classify_id
    left join supplier d on a.supplier_id = d.supplier_id left join wind_field e on a.wind_id = e.wind_id 
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="Pagination_Sql" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select a.*,b.group_name,c.classify_name,d.supplier_name,e.wind_name
    from material a left join material_group b on a.material_group_id=b.material_group_id left join material_classify c on a.material_classify_id = c.material_classify_id
    left join supplier d on a.supplier_id = d.supplier_id left join wind_field e on a.wind_id = e.wind_id 
    where  a.material_id = #{materialId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from material
    where material_id = #{materialId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qz.zframe.material.entity.MaterialExample" >
    delete from material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qz.zframe.material.entity.Material" >
    insert into material (material_id, material_code, material_name, 
      specifications, material_describe, material_group_id, 
      material_classify_id, status, ABC_logo, 
      material_num, material_texture, measuring_unit, 
      supplier_id, wind_id, is_guarantee, 
      guarantee_days, is_con_stock, max_stock, 
      min_stock, is_batch_con, safety_stock, 
      current_stock, average_price, is_delete, 
      creater, create_time, extend1, 
      extend2, extend3, extend4
      )
    values (#{materialId,jdbcType=VARCHAR}, #{materialCode,jdbcType=VARCHAR}, #{materialName,jdbcType=VARCHAR}, 
      #{specifications,jdbcType=VARCHAR}, #{materialDescribe,jdbcType=VARCHAR}, #{materialGroupId,jdbcType=VARCHAR}, 
      #{materialClassifyId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{abcLogo,jdbcType=VARCHAR}, 
      #{materialNum,jdbcType=VARCHAR}, #{materialTexture,jdbcType=VARCHAR}, #{measuringUnit,jdbcType=VARCHAR}, 
      #{supplierId,jdbcType=VARCHAR}, #{windId,jdbcType=VARCHAR}, #{isGuarantee,jdbcType=VARCHAR}, 
      #{guaranteeDays,jdbcType=INTEGER}, #{isConStock,jdbcType=VARCHAR}, #{maxStock,jdbcType=INTEGER}, 
      #{minStock,jdbcType=INTEGER}, #{isBatchCon,jdbcType=VARCHAR}, #{safetyStock,jdbcType=INTEGER}, 
      #{currentStock,jdbcType=INTEGER}, #{averagePrice,jdbcType=DECIMAL}, #{isDelete,jdbcType=VARCHAR}, 
      #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{extend1,jdbcType=VARCHAR}, 
      #{extend2,jdbcType=VARCHAR}, #{extend3,jdbcType=VARCHAR}, #{extend4,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qz.zframe.material.entity.Material" >
    insert into material
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="materialId != null" >
        material_id,
      </if>
      <if test="materialCode != null" >
        material_code,
      </if>
      <if test="materialName != null" >
        material_name,
      </if>
      <if test="specifications != null" >
        specifications,
      </if>
      <if test="materialDescribe != null" >
        material_describe,
      </if>
      <if test="materialGroupId != null" >
        material_group_id,
      </if>
      <if test="materialClassifyId != null" >
        material_classify_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="abcLogo != null" >
        ABC_logo,
      </if>
      <if test="materialNum != null" >
        material_num,
      </if>
      <if test="materialTexture != null" >
        material_texture,
      </if>
      <if test="measuringUnit != null" >
        measuring_unit,
      </if>
      <if test="supplierId != null" >
        supplier_id,
      </if>
      <if test="windId != null" >
        wind_id,
      </if>
      <if test="isGuarantee != null" >
        is_guarantee,
      </if>
      <if test="guaranteeDays != null" >
        guarantee_days,
      </if>
      <if test="isConStock != null" >
        is_con_stock,
      </if>
      <if test="maxStock != null" >
        max_stock,
      </if>
      <if test="minStock != null" >
        min_stock,
      </if>
      <if test="isBatchCon != null" >
        is_batch_con,
      </if>
      <if test="safetyStock != null" >
        safety_stock,
      </if>
      <if test="currentStock != null" >
        current_stock,
      </if>
      <if test="averagePrice != null" >
        average_price,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="creater != null" >
        creater,
      </if> 
        create_time,
      <if test="extend1 != null" >
        extend1,
      </if>
      <if test="extend2 != null" >
        extend2,
      </if>
      <if test="extend3 != null" >
        extend3,
      </if>
      <if test="extend4 != null" >
        extend4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="materialId != null" >
        #{materialId,jdbcType=VARCHAR},
      </if>
      <if test="materialCode != null" >
        #{materialCode,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null" >
        #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="specifications != null" >
        #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="materialDescribe != null" >
        #{materialDescribe,jdbcType=VARCHAR},
      </if>
      <if test="materialGroupId != null" >
        #{materialGroupId,jdbcType=VARCHAR},
      </if>
      <if test="materialClassifyId != null" >
        #{materialClassifyId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="abcLogo != null" >
        #{abcLogo,jdbcType=VARCHAR},
      </if>
      <if test="materialNum != null" >
        #{materialNum,jdbcType=VARCHAR},
      </if>
      <if test="materialTexture != null" >
        #{materialTexture,jdbcType=VARCHAR},
      </if>
      <if test="measuringUnit != null" >
        #{measuringUnit,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="windId != null" >
        #{windId,jdbcType=VARCHAR},
      </if>
      <if test="isGuarantee != null" >
        #{isGuarantee,jdbcType=VARCHAR},
      </if>
      <if test="guaranteeDays != null" >
        #{guaranteeDays,jdbcType=INTEGER},
      </if>
      <if test="isConStock != null" >
        #{isConStock,jdbcType=VARCHAR},
      </if>
      <if test="maxStock != null" >
        #{maxStock,jdbcType=INTEGER},
      </if>
      <if test="minStock != null" >
        #{minStock,jdbcType=INTEGER},
      </if>
      <if test="isBatchCon != null" >
        #{isBatchCon,jdbcType=VARCHAR},
      </if>
      <if test="safetyStock != null" >
        #{safetyStock,jdbcType=INTEGER},
      </if>
      <if test="currentStock != null" >
        #{currentStock,jdbcType=INTEGER},
      </if>
      <if test="averagePrice != null" >
        #{averagePrice,jdbcType=DECIMAL},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      now(),
      
      <if test="extend1 != null" >
        #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="extend4 != null" >
        #{extend4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qz.zframe.material.entity.MaterialExample" resultType="java.lang.Integer" >
    select count(*) from material a
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update material
    <set >
      <if test="record.materialId != null" >
        material_id = #{record.materialId,jdbcType=VARCHAR},
      </if>
      <if test="record.materialCode != null" >
        material_code = #{record.materialCode,jdbcType=VARCHAR},
      </if>
      <if test="record.materialName != null" >
        material_name = #{record.materialName,jdbcType=VARCHAR},
      </if>
      <if test="record.specifications != null" >
        specifications = #{record.specifications,jdbcType=VARCHAR},
      </if>
      <if test="record.materialDescribe != null" >
        material_describe = #{record.materialDescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.materialGroupId != null" >
        material_group_id = #{record.materialGroupId,jdbcType=VARCHAR},
      </if>
      <if test="record.materialClassifyId != null" >
        material_classify_id = #{record.materialClassifyId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.abcLogo != null" >
        ABC_logo = #{record.abcLogo,jdbcType=VARCHAR},
      </if>
      <if test="record.materialNum != null" >
        material_num = #{record.materialNum,jdbcType=VARCHAR},
      </if>
      <if test="record.materialTexture != null" >
        material_texture = #{record.materialTexture,jdbcType=VARCHAR},
      </if>
      <if test="record.measuringUnit != null" >
        measuring_unit = #{record.measuringUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierId != null" >
        supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      </if>
      <if test="record.windId != null" >
        wind_id = #{record.windId,jdbcType=VARCHAR},
      </if>
      <if test="record.isGuarantee != null" >
        is_guarantee = #{record.isGuarantee,jdbcType=VARCHAR},
      </if>
      <if test="record.guaranteeDays != null" >
        guarantee_days = #{record.guaranteeDays,jdbcType=INTEGER},
      </if>
      <if test="record.isConStock != null" >
        is_con_stock = #{record.isConStock,jdbcType=VARCHAR},
      </if>
      <if test="record.maxStock != null" >
        max_stock = #{record.maxStock,jdbcType=INTEGER},
      </if>
      <if test="record.minStock != null" >
        min_stock = #{record.minStock,jdbcType=INTEGER},
      </if>
      <if test="record.isBatchCon != null" >
        is_batch_con = #{record.isBatchCon,jdbcType=VARCHAR},
      </if>
      <if test="record.safetyStock != null" >
        safety_stock = #{record.safetyStock,jdbcType=INTEGER},
      </if>
      <if test="record.currentStock != null" >
        current_stock = #{record.currentStock,jdbcType=INTEGER},
      </if>
      <if test="record.averagePrice != null" >
        average_price = #{record.averagePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.isDelete != null" >
        is_delete = #{record.isDelete,jdbcType=VARCHAR},
      </if>
      <if test="record.creater != null" >
        creater = #{record.creater,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.extend1 != null" >
        extend1 = #{record.extend1,jdbcType=VARCHAR},
      </if>
      <if test="record.extend2 != null" >
        extend2 = #{record.extend2,jdbcType=VARCHAR},
      </if>
      <if test="record.extend3 != null" >
        extend3 = #{record.extend3,jdbcType=VARCHAR},
      </if>
      <if test="record.extend4 != null" >
        extend4 = #{record.extend4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update material
    set material_id = #{record.materialId,jdbcType=VARCHAR},
      material_code = #{record.materialCode,jdbcType=VARCHAR},
      material_name = #{record.materialName,jdbcType=VARCHAR},
      specifications = #{record.specifications,jdbcType=VARCHAR},
      material_describe = #{record.materialDescribe,jdbcType=VARCHAR},
      material_group_id = #{record.materialGroupId,jdbcType=VARCHAR},
      material_classify_id = #{record.materialClassifyId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      ABC_logo = #{record.abcLogo,jdbcType=VARCHAR},
      material_num = #{record.materialNum,jdbcType=VARCHAR},
      material_texture = #{record.materialTexture,jdbcType=VARCHAR},
      measuring_unit = #{record.measuringUnit,jdbcType=VARCHAR},
      supplier_id = #{record.supplierId,jdbcType=VARCHAR},
      wind_id = #{record.windId,jdbcType=VARCHAR},
      is_guarantee = #{record.isGuarantee,jdbcType=VARCHAR},
      guarantee_days = #{record.guaranteeDays,jdbcType=INTEGER},
      is_con_stock = #{record.isConStock,jdbcType=VARCHAR},
      max_stock = #{record.maxStock,jdbcType=INTEGER},
      min_stock = #{record.minStock,jdbcType=INTEGER},
      is_batch_con = #{record.isBatchCon,jdbcType=VARCHAR},
      safety_stock = #{record.safetyStock,jdbcType=INTEGER},
      current_stock = #{record.currentStock,jdbcType=INTEGER},
      average_price = #{record.averagePrice,jdbcType=DECIMAL},
      is_delete = #{record.isDelete,jdbcType=VARCHAR},
      creater = #{record.creater,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      extend1 = #{record.extend1,jdbcType=VARCHAR},
      extend2 = #{record.extend2,jdbcType=VARCHAR},
      extend3 = #{record.extend3,jdbcType=VARCHAR},
      extend4 = #{record.extend4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qz.zframe.material.entity.Material" >
    update material
    <set >
      <if test="materialCode != null" >
        material_code = #{materialCode,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null" >
        material_name = #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="specifications != null" >
        specifications = #{specifications,jdbcType=VARCHAR},
      </if>
      <if test="materialDescribe != null" >
        material_describe = #{materialDescribe,jdbcType=VARCHAR},
      </if>
      <if test="materialGroupId != null" >
        material_group_id = #{materialGroupId,jdbcType=VARCHAR},
      </if>
      <if test="materialClassifyId != null" >
        material_classify_id = #{materialClassifyId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="abcLogo != null" >
        ABC_logo = #{abcLogo,jdbcType=VARCHAR},
      </if>
      <if test="materialNum != null" >
        material_num = #{materialNum,jdbcType=VARCHAR},
      </if>
      <if test="materialTexture != null" >
        material_texture = #{materialTexture,jdbcType=VARCHAR},
      </if>
      <if test="measuringUnit != null" >
        measuring_unit = #{measuringUnit,jdbcType=VARCHAR},
      </if>
      <if test="supplierId != null" >
        supplier_id = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="windId != null" >
        wind_id = #{windId,jdbcType=VARCHAR},
      </if>
      <if test="isGuarantee != null" >
        is_guarantee = #{isGuarantee,jdbcType=VARCHAR},
      </if>
      <if test="guaranteeDays != null" >
        guarantee_days = #{guaranteeDays,jdbcType=INTEGER},
      </if>
      <if test="isConStock != null" >
        is_con_stock = #{isConStock,jdbcType=VARCHAR},
      </if>
      <if test="maxStock != null" >
        max_stock = #{maxStock,jdbcType=INTEGER},
      </if>
      <if test="minStock != null" >
        min_stock = #{minStock,jdbcType=INTEGER},
      </if>
      <if test="isBatchCon != null" >
        is_batch_con = #{isBatchCon,jdbcType=VARCHAR},
      </if>
      <if test="safetyStock != null" >
        safety_stock = #{safetyStock,jdbcType=INTEGER},
      </if>
      <if test="currentStock != null" >
        current_stock = #{currentStock,jdbcType=INTEGER},
      </if>
      <if test="averagePrice != null" >
        average_price = #{averagePrice,jdbcType=DECIMAL},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="extend1 != null" >
        extend1 = #{extend1,jdbcType=VARCHAR},
      </if>
      <if test="extend2 != null" >
        extend2 = #{extend2,jdbcType=VARCHAR},
      </if>
      <if test="extend3 != null" >
        extend3 = #{extend3,jdbcType=VARCHAR},
      </if>
      <if test="extend4 != null" >
        extend4 = #{extend4,jdbcType=VARCHAR},
      </if>
    </set>
    where material_id = #{materialId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qz.zframe.material.entity.Material" >
    update material
    set material_code = #{materialCode,jdbcType=VARCHAR},
      material_name = #{materialName,jdbcType=VARCHAR},
      specifications = #{specifications,jdbcType=VARCHAR},
      material_describe = #{materialDescribe,jdbcType=VARCHAR},
      material_group_id = #{materialGroupId,jdbcType=VARCHAR},
      material_classify_id = #{materialClassifyId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      ABC_logo = #{abcLogo,jdbcType=VARCHAR},
      material_num = #{materialNum,jdbcType=VARCHAR},
      material_texture = #{materialTexture,jdbcType=VARCHAR},
      measuring_unit = #{measuringUnit,jdbcType=VARCHAR},
      supplier_id = #{supplierId,jdbcType=VARCHAR},
      wind_id = #{windId,jdbcType=VARCHAR},
      is_guarantee = #{isGuarantee,jdbcType=VARCHAR},
      guarantee_days = #{guaranteeDays,jdbcType=INTEGER},
      is_con_stock = #{isConStock,jdbcType=VARCHAR},
      max_stock = #{maxStock,jdbcType=INTEGER},
      min_stock = #{minStock,jdbcType=INTEGER},
      is_batch_con = #{isBatchCon,jdbcType=VARCHAR},
      safety_stock = #{safetyStock,jdbcType=INTEGER},
      current_stock = #{currentStock,jdbcType=INTEGER},
      average_price = #{averagePrice,jdbcType=DECIMAL},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      extend1 = #{extend1,jdbcType=VARCHAR},
      extend2 = #{extend2,jdbcType=VARCHAR},
      extend3 = #{extend3,jdbcType=VARCHAR},
      extend4 = #{extend4,jdbcType=VARCHAR}
    where material_id = #{materialId,jdbcType=VARCHAR}
  </update>
  
  <update id="updateIsdete" parameterType="java.util.Map">
         update material set is_delete=#{isDelete}  where material_id in
        <foreach collection="materialIds" item="materialIds" open="(" separator="," close=")">
            #{materialIds}
        </foreach>
    </update>
  
</mapper>