<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qz.zframe.material.dao.WindFieldMapper" >
  <resultMap id="BaseResultMap" type="com.qz.zframe.material.entity.WindField" >
    <id column="wind_id" property="windId" jdbcType="VARCHAR" />
    <result column="wind_code" property="windCode" jdbcType="VARCHAR" />
    <result column="wind_name" property="windName" jdbcType="VARCHAR" />
    <result column="wind_status" property="windStatus" jdbcType="VARCHAR" />
    <result column="is_valuable" property="isValuable" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    wind_id, wind_code, wind_name, wind_status, is_valuable, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qz.zframe.material.entity.WindFieldExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from "wind_field"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from "wind_field"
    where wind_id = #{windId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from "wind_field"
    where wind_id = #{windId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qz.zframe.material.entity.WindFieldExample" >
    delete from "wind_field"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qz.zframe.material.entity.WindField" >
    insert into "wind_field" (wind_id, wind_code, wind_name, 
      wind_status, is_valuable, remark
      )
    values (#{windId,jdbcType=VARCHAR}, #{windCode,jdbcType=VARCHAR}, #{windName,jdbcType=VARCHAR}, 
      #{windStatus,jdbcType=VARCHAR}, #{isValuable,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qz.zframe.material.entity.WindField" >
    insert into "wind_field"
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="windId != null" >
        wind_id,
      </if>
      <if test="windCode != null" >
        wind_code,
      </if>
      <if test="windName != null" >
        wind_name,
      </if>
      <if test="windStatus != null" >
        wind_status,
      </if>
      <if test="isValuable != null" >
        is_valuable,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="windId != null" >
        #{windId,jdbcType=VARCHAR},
      </if>
      <if test="windCode != null" >
        #{windCode,jdbcType=VARCHAR},
      </if>
      <if test="windName != null" >
        #{windName,jdbcType=VARCHAR},
      </if>
      <if test="windStatus != null" >
        #{windStatus,jdbcType=VARCHAR},
      </if>
      <if test="isValuable != null" >
        #{isValuable,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qz.zframe.material.entity.WindFieldExample" resultType="java.lang.Integer" >
    select count(*) from "wind_field"
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update "wind_field"
    <set >
      <if test="record.windId != null" >
        wind_id = #{record.windId,jdbcType=VARCHAR},
      </if>
      <if test="record.windCode != null" >
        wind_code = #{record.windCode,jdbcType=VARCHAR},
      </if>
      <if test="record.windName != null" >
        wind_name = #{record.windName,jdbcType=VARCHAR},
      </if>
      <if test="record.windStatus != null" >
        wind_status = #{record.windStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.isValuable != null" >
        is_valuable = #{record.isValuable,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update "wind_field"
    set wind_id = #{record.windId,jdbcType=VARCHAR},
      wind_code = #{record.windCode,jdbcType=VARCHAR},
      wind_name = #{record.windName,jdbcType=VARCHAR},
      wind_status = #{record.windStatus,jdbcType=VARCHAR},
      is_valuable = #{record.isValuable,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qz.zframe.material.entity.WindField" >
    update "wind_field"
    <set >
      <if test="windCode != null" >
        wind_code = #{windCode,jdbcType=VARCHAR},
      </if>
      <if test="windName != null" >
        wind_name = #{windName,jdbcType=VARCHAR},
      </if>
      <if test="windStatus != null" >
        wind_status = #{windStatus,jdbcType=VARCHAR},
      </if>
      <if test="isValuable != null" >
        is_valuable = #{isValuable,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where wind_id = #{windId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qz.zframe.material.entity.WindField" >
    update "wind_field"
    set wind_code = #{windCode,jdbcType=VARCHAR},
      wind_name = #{windName,jdbcType=VARCHAR},
      wind_status = #{windStatus,jdbcType=VARCHAR},
      is_valuable = #{isValuable,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where wind_id = #{windId,jdbcType=VARCHAR}
  </update>
</mapper>