<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qz.zframe.tickets.mapper.OperateItemMapper" >
  <resultMap id="BaseResultMap" type="com.qz.zframe.tickets.entity.OperateItem" >
    <id column="item_id" property="itemId" jdbcType="VARCHAR" />
    <result column="ticket_id" property="ticketId" jdbcType="VARCHAR" />
    <result column="typical_ticket_id" property="typicalTicketId" jdbcType="VARCHAR" />
    <result column="item_number" property="itemNumber" jdbcType="VARCHAR" />
    <result column="item_content" property="itemContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    item_id, ticket_id, typical_ticket_id, item_number, item_content
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qz.zframe.tickets.entity.OperateItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from operate_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from operate_item
    where item_id = #{itemId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from operate_item
    where item_id = #{itemId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qz.zframe.tickets.entity.OperateItemExample" >
    delete from operate_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qz.zframe.tickets.entity.OperateItem" >
    insert into operate_item (item_id, ticket_id, typical_ticket_id, 
      item_number, item_content)
    values (#{itemId,jdbcType=VARCHAR}, #{ticketId,jdbcType=VARCHAR}, #{typicalTicketId,jdbcType=VARCHAR}, 
      #{itemNumber,jdbcType=VARCHAR}, #{itemContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qz.zframe.tickets.entity.OperateItem" >
    insert into operate_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="ticketId != null" >
        ticket_id,
      </if>
      <if test="typicalTicketId != null" >
        typical_ticket_id,
      </if>
      <if test="itemNumber != null" >
        item_number,
      </if>
      <if test="itemContent != null" >
        item_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="itemId != null" >
        #{itemId,jdbcType=VARCHAR},
      </if>
      <if test="ticketId != null" >
        #{ticketId,jdbcType=VARCHAR},
      </if>
      <if test="typicalTicketId != null" >
        #{typicalTicketId,jdbcType=VARCHAR},
      </if>
      <if test="itemNumber != null" >
        #{itemNumber,jdbcType=VARCHAR},
      </if>
      <if test="itemContent != null" >
        #{itemContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qz.zframe.tickets.entity.OperateItemExample" resultType="java.lang.Integer" >
    select count(*) from operate_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update operate_item
    <set >
      <if test="record.itemId != null" >
        item_id = #{record.itemId,jdbcType=VARCHAR},
      </if>
      <if test="record.ticketId != null" >
        ticket_id = #{record.ticketId,jdbcType=VARCHAR},
      </if>
      <if test="record.typicalTicketId != null" >
        typical_ticket_id = #{record.typicalTicketId,jdbcType=VARCHAR},
      </if>
      <if test="record.itemNumber != null" >
        item_number = #{record.itemNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.itemContent != null" >
        item_content = #{record.itemContent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update operate_item
    set item_id = #{record.itemId,jdbcType=VARCHAR},
      ticket_id = #{record.ticketId,jdbcType=VARCHAR},
      typical_ticket_id = #{record.typicalTicketId,jdbcType=VARCHAR},
      item_number = #{record.itemNumber,jdbcType=VARCHAR},
      item_content = #{record.itemContent,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qz.zframe.tickets.entity.OperateItem" >
    update operate_item
    <set >
      <if test="ticketId != null" >
        ticket_id = #{ticketId,jdbcType=VARCHAR},
      </if>
      <if test="typicalTicketId != null" >
        typical_ticket_id = #{typicalTicketId,jdbcType=VARCHAR},
      </if>
      <if test="itemNumber != null" >
        item_number = #{itemNumber,jdbcType=VARCHAR},
      </if>
      <if test="itemContent != null" >
        item_content = #{itemContent,jdbcType=VARCHAR},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qz.zframe.tickets.entity.OperateItem" >
    update operate_item
    set ticket_id = #{ticketId,jdbcType=VARCHAR},
      typical_ticket_id = #{typicalTicketId,jdbcType=VARCHAR},
      item_number = #{itemNumber,jdbcType=VARCHAR},
      item_content = #{itemContent,jdbcType=VARCHAR}
    where item_id = #{itemId,jdbcType=VARCHAR}
  </update>
</mapper>