<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qz.zframe.tally.dao.TallyStandardDao" >
    <resultMap id="BaseResultMap" type="com.qz.zframe.tally.entity.TallyStandard" >
        <id column="standard_id" property="standardId" />
        <result column="route_id" property="routeId" />
        <result column="equipment_id" property="equipmentId"/>
        <result column="standard_coding" property="standardCoding" />
        <result column="location" property="location" />
        <result column="check_content" property="checkContent" />
        <result column="standard_type" property="standardType" />
        <result column="data_type" property="dataType" />
        <result column="signal_type" property="signalType" />
        <result column="check_method" property="checkMethod"/>
        <result column="standard_judgment" property="standardJudgment" />
        <result column="result_options" property="resultOptions"  />
        <result column="measurement_unit" property="measurementUnit" />
        <result column="typical_value" property="typicalValue" />
        <result column="equipment_state" property="equipmentState" />
        <result column="twodimensionalcode_location" property="twodimensionalcodeLocation" />
        <result column="startandstop_point" property="startandstopPoint" />
        <result column="maincontrol_point" property="maincontrolPoint"/>
        <result column="alarm_type" property="alarmType" />
        <result column="alarm_ceiling" property="alarmCeiling"  />
        <result column="alarm_lowerlimit" property="alarmLowerlimit" />
    </resultMap>

    <resultMap id="BaseResultMap2" type="com.qz.zframe.tally.vo.TallyStandardVO2" >
    <result column="standard_id" property="standardId" />
    <result column="equipment_name" property="equipmentBelonging" />
    <result column="check_content" property="checkContent"/>
    <result column="standard_judgment" property="standardJudgment" />
    <result column="architecture_name" property="windName"  />
    <result column="position_name" property="position" />
    <result column="route_name" property="routeName" />
    <result column="cycle_name" property="cycleName" />
</resultMap>
    <resultMap id="BaseResultMap3" type="com.qz.zframe.tally.vo.EquipmentOrQrCode" >
        <result column="equipment_asset_id" property="equipmentId"  />
        <result column="qr_id" property="qrId"  />
        <result column="equipment_name" property="equipmentName"  />
        <result column="qr_code_id" property="qrCodeId"  />
        <result column="position_name" property="positionName"  />
    </resultMap>
    <resultMap id="BaseResultMap4" type="com.qz.zframe.tally.entity.TallyResult" >
        <id column="result_id" property="resultId" />
        <result column="result_name" property="resultName" />
        <result column="many_choose" property="manyChoose"/>
        <result column="result_code" property="resultCode" />
        <result column="is_delete" property="isDelete" />
    </resultMap>
    <resultMap id="BaseResultMap5" type="com.qz.zframe.tally.entity.QrCode" >
        <id column="qr_id" property="qrId" jdbcType="VARCHAR" />
        <result column="qr_code_id" property="qrCodeId" jdbcType="VARCHAR" />
        <result column="position_id" property="positionId" jdbcType="VARCHAR" />
        <result column="creater" property="creater" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <!--  关联查询  -->
        <result column="position_code" property="positionCode" jdbcType="VARCHAR" />
        <result column="position_name" property="positionName" jdbcType="VARCHAR" />
        <result column="wind_id" property="windCode" jdbcType="VARCHAR" />
        <result column="windName" property="windName" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
        standard_id,route_id, equipment_id, standard_coding, equipment_belonging,location,check_content,standard_type,data_type,signal_type,check_method,standard_judgment,result_options,measurement_unit,typical_value,equipment_state,twodimensionalcode_location,startandstop_point,maincontrol_point,alarm_type,alarm_ceiling,alarm_lowerlimit,emissivity,upperlimit_mileage,lowerlimit_mileage
    </sql>

    <select id="findAllTallyStandard" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from tally_standard
        WHERE 1=1
        <if test="equipmentBelonging !=null">
            and equipment_belonging=#{equipmentBelonging}
        </if>
        <if test="routeId !=null">
            and route_id=#{routeId}
        </if>
        <if test="equipmentState !=null">
            and equipment_state=#{equipmentState}
        </if>
        <if test="alarmType !=null">
            and alarm_type=#{alarmType}
        </if>
        <if test="standardCoding !=null">
            and standard_coding=#{standardCoding}
        </if>
        <if test="checkContent !=null">
            and check_content like "%"#{checkContent}"%"
        </if>
    </select>

    <select id="findRouteNameByRouteId" resultType="string" parameterType="string">
          select
          route_name
          from tally_route
          where route_id=#{routeId}
    </select>

    <select id="findWindIdByRouteId" resultType="string" parameterType="string">
            select wind_id
            from tally_route
            where route_id=#{routeId}
    </select>

    <delete id="deletetallyRouteStandardByPeriodTimeIds">
        DELETE FROM tally_route_standard WHERE standard_id IN
        <foreach collection="periodTimeIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteTallyStandardByPeriodTimeIds">
        DELETE FROM tally_standard WHERE standard_id IN
        <foreach collection="periodTimeIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="findRouteIdByRouteName" resultType="string" parameterType="string">
        select
        route_id
        from tally_route
        where route_name=#{routeName}
    </select>

    <!-- 新增 -->
    <insert id="addTallyStandard">
        INSERT INTO tally_standard
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="standardId!=null and standardId!=''">standard_id,</if>
            <if test="routeId!=null and routeId!=''">route_id,</if>
            <if test="equipmentId!=null and equipmentId!=''">equipment_id,</if>
            <if test="standardCoding!=null and standardCoding!=''">standard_coding,</if>
            <if test="location!=null and location!=''">location,</if>
            <if test="checkContent!=null and checkContent!=''">check_content,</if>
            <if test="standardType!=null and standardType!=''">standard_type,</if>
            <if test="dataType!=null and dataType!=''">data_type,</if>
            <if test="signalType!=null and signalType!=''">signal_type,</if>
            <if test="checkMethod!=null and checkMethod!=''">check_method,</if>
            <if test="standardJudgment!=null and standardJudgment!=''">standard_judgment,</if>
            <if test="resultOptions!=null and resultOptions!=''">result_options,</if>
            <if test="measurementUnit!=null and measurementUnit!=''">measurement_unit,</if>
            <if test="typicalValue!=null and typicalValue!=''">typical_value,</if>
            <if test="equipmentState!=null and equipmentState!=''">equipment_state,</if>
            <if test="twodimensionalcodeLocation!=null and twodimensionalcodeLocation!=''">twodimensionalcode_location,</if>
            <if test="startandstopPoint!=null and startandstopPoint!=''">startandstop_point,</if>
            <if test="maincontrolPoint!=null and maincontrolPoint!=''">maincontrol_point,</if>
            <if test="alarmType!=null and alarmType!=''">alarm_type,</if>
            <if test="alarmCeiling!=null and alarmCeiling!=''">alarm_ceiling,</if>
            <if test="alarmLowerlimit!=null and alarmLowerlimit!=''">alarm_lowerlimit,</if>
            <if test="trueId!=null and trueId!=''">true_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="standardId!=null and standardId!=''">#{standardId},</if>
            <if test="routeId!=null and routeId!=''">#{routeId},</if>
            <if test="equipmentId!=null and equipmentId!=''">#{equipmentId},</if>
            <if test="standardCoding!=null and standardCoding!=''">#{standardCoding},</if>
            <if test="location!=null and location!=''">#{location},</if>
            <if test="checkContent!=null and checkContent!=''">#{checkContent},</if>
            <if test="standardType!=null and standardType!=''">#{standardType},</if>
            <if test="dataType!=null and dataType!=''">#{dataType},</if>
            <if test="signalType!=null and signalType!=''">#{signalType},</if>
            <if test="checkMethod!=null and checkMethod!=''">#{checkMethod},</if>
            <if test="standardJudgment!=null and standardJudgment!=''">#{standardJudgment},</if>
            <if test="resultOptions!=null and resultOptions!=''">#{resultOptions},</if>
            <if test="measurementUnit!=null and measurementUnit!=''">#{measurementUnit},</if>
            <if test="typicalValue!=null and typicalValue!=''">#{typicalValue},</if>
            <if test="equipmentState!=null and equipmentState!=''">#{equipmentState},</if>
            <if test="twodimensionalcodeLocation!=null and twodimensionalcodeLocation!=''">#{twodimensionalcodeLocation},</if>
            <if test="startandstopPoint!=null and startandstopPoint!=''">#{startandstopPoint},</if>
            <if test="maincontrolPoint!=null and maincontrolPoint!=''">#{maincontrolPoint},</if>
            <if test="alarmType!=null and alarmType!=''">#{alarmType},</if>
            <if test="alarmCeiling!=null and alarmCeiling!=''">#{alarmCeiling},</if>
            <if test="alarmLowerlimit!=null and alarmLowerlimit!=''">#{alarmLowerlimit},</if>
            <if test="trueId!=null and trueId!=''">#{trueId},</if>
        </trim>
    </insert>

    <!-- 新增 -->
    <insert id="addTallyRouteStandard">
        INSERT INTO tally_route_standard
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=''">id,</if>
            <if test="routeId!=null and routeId!=''">route_id,</if>
            <if test="standardId!=null and standardId!=''">standard_id,</if>
            <if test="cycleId!=null and cycleId!=''">cycle_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id!=null and id!=''">#{id},</if>
            <if test="routeId!=null and routeId!=''">#{routeId},</if>
            <if test="standardId!=null and standardId!=''">#{standardId},</if>
            <if test="cycleId!=null and cycleId!=''">#{cycleId},</if>
        </trim>
    </insert>

    <select id="findWindIdByRouteName" parameterType="string" resultType="string">
        SELECT wind_id
        FROM tally_route
        WHERE route_name=#{routeName}
    </select>

    <select id="findCycleNameByRouteId" parameterType="string" resultType="string">
        SELECT cycle_name
        FROM cycle
        WHERE route_id=#{routeId}
    </select>

    <!-- 更新 -->
    <update id="updateTallyStandard">
        UPDATE tally_standard
        <set>
            <if test="routeId!=null and routeId!=''">route_id=#{routeId},</if>
            <if test="equipmentId!=null and equipmentId!=''">equipment_id=#{equipmentId},</if>
            <if test="standardCoding!=null and standardCoding!=''">standard_coding=#{standardCoding},</if>
            <if test="location!=null and location!=''">location=#{location},</if>
            <if test="checkContent!=null and checkContent!=''">check_content=#{checkContent},</if>
            <if test="standardType!=null and standardType!=''">standard_type=#{standardType},</if>
            <if test="dataType!=null and dataType!=''">data_type=#{dataType},</if>
            <if test="signalType!=null and signalType!=''">signal_type=#{signalType},</if>
            <if test="checkMethod!=null and checkMethod!=''">check_method=#{checkMethod},</if>
            <if test="standardJudgment!=null and standardJudgment!=''">standard_judgment=#{standardJudgment},</if>
            <if test="resultOptions!=null and resultOptions!=''">result_options=#{resultOptions},</if>
            <if test="measurementUnit!=null and measurementUnit!=''">measurement_unit=#{measurementUnit},</if>
            <if test="typicalValue!=null and typicalValue!=''">typical_value=#{typicalValue},</if>
            <if test="equipmentState!=null and equipmentState!=''">equipment_state=#{equipmentState},</if>
            <if test="twodimensionalcodeLocation!=null and twodimensionalcodeLocation!=''">twodimensionalcode_location=#{twodimensionalcodeLocation},</if>
            <if test="startandstopPoint!=null and startandstopPoint!=''">startandstop_point=#{startandstopPoint},</if>
            <if test="maincontrolPoint!=null and maincontrolPoint!=''">maincontrol_point=#{maincontrolPoint},</if>
            <if test="alarmType!=null and alarmType!=''">alarm_type=#{alarmType},</if>
            <if test="alarmCeiling!=null and alarmCeiling!=''">alarm_ceiling=#{alarmCeiling},</if>
            <if test="alarmLowerlimit!=null and alarmLowerlimit!=''">alarm_lowerlimit=#{alarmLowerlimit},</if>
        </set>
        WHERE standard_id = #{standardId}
    </update>

    <select id="findStandardIdByRouteName" parameterType="string" resultType="string">
        SELECT standard_id
        FROM tally_standard s,tally_route t
        WHERE route_name=#{routeName} and s.route_id=t.route_id
    </select>

    <select id="findEquipmentIdByRouteName" parameterType="string" resultType="string">
        SELECT equipment_id
        FROM tally_standard s,tally_route t
        WHERE route_name=#{routeName} and s.route_id=t.route_id
    </select>

    <select id="findIdByRouteName" parameterType="string" resultType="string">
        SELECT id
        FROM tally_route_standard r,tally_route t
        WHERE route_name=#{routeName} and r.route_id=t.route_id
    </select>

    <!-- 更新 -->
    <update id="updateTallyRouteStandard">
        UPDATE tally_route_standard
        <set>
            <if test="routeId!=null and routeId!=''">route_id=#{routeId},</if>
            <if test="standardId!=null and standardId!=''">standard_id=#{standardId},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="findTallyStandardByStandardId" parameterType="string" resultMap="BaseResultMap">
        SELECT standard_id,route_id,equipment_id,standard_coding,location,check_content,
        standard_type,data_type,signal_type,check_method,standard_judgment,result_options,
        measurement_unit,typical_value,equipment_state,twodimensionalcode_location,startandstop_point,
        maincontrol_point,alarm_type,alarm_ceiling,alarm_lowerlimit,true_id
        FROM tally_standard
        WHERE standard_id=#{standardId}
        and true_id="0"
    </select>

    <delete id="deletetallyRouteStandardByRouteNames">
        DELETE tally_route_standard.* FROM tally_route_standard WHERE tally_route_standard.standard_id IN
        <foreach collection="standardIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

  <!--  <delete id="deleteTallyStandardByRouteNames">
        DELETE tally_standard.* FROM tally_standard WHERE tally_standard.standard_id IN
        <foreach collection="standardIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>-->

    <update id="deleteTallyStandardByRouteNames">
        UPDATE tally_standard
        set tally_standard.true_id='1'
        WHERE tally_standard.standard_id in
        <foreach collection="standardIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <select id="countStandard" resultType="int" >
        select
        COUNT(*)
        from tally_standard
        WHERE 1=1
        <if test="equipmentBelonging !=null">
            and equipment_belonging=#{equipmentBelonging}
        </if>
        <if test="routeId !=null">
            and route_id=#{routeId}
        </if>
        <if test="equipmentState !=null">
            and equipment_state=#{equipmentState}
        </if>
        <if test="alarmType !=null">
            and alarm_type=#{alarmType}
        </if>
        <if test="standardCoding !=null">
            and standard_coding=#{standardCoding}
        </if>
        <if test="checkContent !=null">
            and check_content like "%"#{checkContent}"%"
        </if>
    </select>

    <select id="findCycleIdByCycleNameAndRouteId" resultType="string">
        SELECT cycle_id
        FROM cycle
        WHERE cycle_name=#{cycleName} and route_id=#{routeId}
    </select>

    <select id="findRouteNameByWindId" parameterType="string" resultType="string">
        SELECT route_name
        FROM tally_route
        WHERE wind_id=#{windId}
    </select>

    <select id="findCycleNameByStandardIdAndRouteId" resultType="string">
          SELECT cycle_name
          FROM cycle,tally_route_standard
          WHERE tally_route_standard.standard_id=#{standardId} and tally_route_standard.route_id=#{routeId} and cycle.cycle_id=tally_route_standard.cycle_id
    </select>

    <select id="findAllTallyStandardVO2" resultMap="BaseResultMap2">
          SELECT
            s.standard_id,e.equipment_name,s.check_content,
            s.standard_judgment,o.architecture_name,p.position_name,
            r.route_name,c.cycle_name
          FROM tally_standard s,tally_route r,cycle c,org_architecture o,position_encode p,equipment_asset_ledger e,qr_code q
          WHERE 1=1
          and c.route_id=r.route_id
          and r.route_id=s.route_id
          and e.equipment_asset_id=s.equipment_id
          and p.position_id=q.position_id
          and q.qr_id=s.twodimensionalcode_location
          and r.wind_id=o.architecture_code
          and s.true_id="0"
          and  o.architecture_type="02"
        <if test="equipmentBelonging !=null and equipmentBelonging !=''">
        and e.equipment_name like "%"#{equipmentBelonging}"%"
        </if>
        <if test="standardType !=null and standardType !=''">
            and s.standard_type=#{standardType}
        </if>
        <if test="routeName !=null and routeName !=''">
            and s.route_id=#{routeName}
        </if>
        <if test="checkContent !=null and checkContent !=''">
            and s.check_content like "%"#{checkContent}"%"
        </if>
    </select>

    <select id="findIdByStandardId" parameterType="string" resultType="string">
        SELECT id
        FROM tally_route_standard
        WHERE standard_id=#{standardId}
    </select>

    <select id="countStandard1" resultType="int">
        SELECT
        COUNT(*)
        FROM tally_standard
    </select>

    <select id="findEquipmentNameByEquipmentId" parameterType="string" resultType="string">
        SELECT equipment_name
        FROM equipment_asset_ledger
        WHERE equipment_asset_id=#{equipmentId}
    </select>

    <select id="findEquipmentOrQrCode" resultMap="BaseResultMap3" parameterType="string">
       SELECT
        e.equipment_asset_id,e.equipment_name,
        q.qr_id,q.qr_code_id,
        p.position_name
        FROM
        org_architecture o,qr_code q,equipment_asset_ledger e,position_encode p
        WHERE 1=1
        AND e.position_id=p.position_id
        AND q.position_id=e.position_id
        AND o.architecture_code=p.wind_id
        AND o.architecture_type="02"
        AND o.architecture_code=#{windCode}
        <if test="qrId !=null and qrId !=''">
            and q.qr_id=#{qrId}
        </if>
    </select>

    <select id="findAllResult" resultMap="BaseResultMap4">
        SELECT r.result_id,r.result_name,r.many_choose,r.result_code,r.is_delete,
        c.resultChoose
        FROM tally_result r,(SELECT result_id,GROUP_CONCAT(result_choose) AS resultChoose from tally_result_choose GROUP BY result_id) c
        WHERE r.is_delete="01"
        and r.result_id=c.result_id
    </select>

    <select id="findTitleByName" resultType="string">
           SELECT c.title
           FROM sp_code c,sp_code_type t
           WHERE t.name=#{name1}
           and t.id=c.code_type_id
           and c.name=#{name2}
    </select>

    <select id="findPositonNameByQrId" parameterType="string" resultType="string">
        SELECT p.position_name
        FROM qr_code q,position_encode p
        WHERE q.qr_id=#{qrId}
        and q.position_id=p.position_id
    </select>

    <select id="findWindNameByRouteId" parameterType="string" resultType="string">
        SELECT o.architecture_name
        FROM org_architecture o,tally_route t
        WHERE t.route_id=#{routeId}
        and t.wind_id=o.architecture_code
        and o.architecture_type="02"
    </select>

    <select id="findQrIdByEquipmentId" parameterType="string" resultType="string">
        SELECT q.qr_id
        FROM qr_code q,equipment_asset_ledger e
        WHERE e.equipment_asset_id=#{equipmentId}
        and e.position_id=q.position_id
    </select>

    <select id="findAllTallyStandardForDetail" resultMap="BaseResultMap" parameterType="string">
         SELECT standard_id,route_id,equipment_id,standard_coding,location,check_content,
        standard_type,data_type,signal_type,check_method,standard_judgment,result_options,
        measurement_unit,typical_value,equipment_state,twodimensionalcode_location,startandstop_point,
        maincontrol_point,alarm_type,alarm_ceiling,alarm_lowerlimit,true_id
        FROM tally_standard,qr_code
        WHERE  true_id="0"
        and qr_id=#{qrId}
        and qr_id=twodimensionalcode_location
    </select>


    <select id="findResultChooseByResultId" parameterType="string" resultType="string">
        SELECT result_name
        FROM tally_result
        WHERE result_id=#{resultId}
    </select>

    <select id="findQrCodeByRouteId" parameterType="string" resultMap="BaseResultMap5">
        SELECT q.qr_id,q.qr_code_id,p.position_name
        FROM qr_code q,position_encode p,tally_standard t
        WHERE t.route_id=#{routeId}
        and t.twodimensionalcode_location=q.qr_id
        and q.position_id=p.position_id
    </select>




</mapper>