<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qz.zframe.tally.dao.TallyPlanDao" >
    <resultMap id="BaseResultMap" type="com.qz.zframe.tally.entity.PeriodTime" >
        <id column="period_time_id" property="periodTimeId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime"/>
    </resultMap>
    <resultMap id="BaseResultMap2" type="com.qz.zframe.tally.vo.TallyPlanVO" >
        <result column="route_name" property="routeName" />
        <result column="route_code" property="routeCode"/>
        <result column="wind_id" property="windId" />
        <result column="cycle" property="cycle"/>
        <result column="cycle_unit" property="cycleUnit" />
        <result column="benchmark_date" property="startTime" />
        <result column="route_id" property="routeId" />
    </resultMap>
    <sql id="Base_Column_List" >
        period_time.period_time_id,period_time.start_time,period_time.end_time
    </sql>


    <select id="findPeriodTimeByPlan" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from tally_route,cycle,period_time,cycle_period_time
        WHERE period_time.period_time_id=cycle_period_time.period_time_id and cycle_period_time.cycle_id=cycle.cycle_id and cycle.route_id=tally_route.route_id
    </select>

    <delete id="deletePeriodTimeByRouteNames">
        DELETE period_time.*,cycle_period_time.* FROM tally_route,cycle,period_time,cycle_period_time WHERE tally_route.route_name=#{routeName}
        and period_time.period_time_id=cycle_period_time.period_time_id and cycle_period_time.cycle_id=cycle.cycle_id and cycle.route_id=tally_route.route_id
        and period_time.start_time=#{startTime} and period_time.end_time=#{endTime}
    </delete>

    <select id="findAllTallyPlanVO" resultMap="BaseResultMap2">
          SELECT t.wind_id,t.route_code,t.route_name,
          c.cycle,c.cycle_unit,c.benchmark_date,
          t.route_id
          FROM tally_route t,cycle c,route_user r
          WHERE t.route_id=c.route_id
          and t.route_id=r.route_id
         <if test="currentUserId !=null">
            and r.user_id=#{currentUserId}
         </if>
    </select>

    <select id="findUserNamesByRouteId" parameterType="string" resultType="string">
        SELECT
        i.user_name
        FROM
        route_user r,isc_user i
        WHERE
        r.route_id=#{routeId}
        AND  r.user_id=i.user_id
    </select>













</mapper>