<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qz.zframe.common.dao.DeployDao">
    
    <!-- 获取所有流程主表信息 -->
    <select id="findAllDeploy" resultType="com.qz.zframe.common.entity.DeployMain">
    	select main_id mainId,main_code mainCode,MAIN_DEPLOY_NAME mainDeployName,MAIN_STATUS mainStatus,
    	MAIN_CODING mainCoding,MAIN_NUM mainNum from deploy_main 
    </select>
    
    <!-- 根据名称模糊查询流程主表信息 -->
    <select id="findDeployMainByName" resultType="com.qz.zframe.common.entity.DeployMain">
    	select main_id mainId,main_code mainCode,MAIN_DEPLOY_NAME mainDeployName,MAIN_STATUS mainStatus,
    	MAIN_CODING mainCoding,MAIN_NUM mainNum from deploy_main where MAIN_DEPLOY_NAME like #{mainDeployName}
    </select>
    
    <!-- 根据id查询流程主表 -->
    <select id="queryDeployMainById" resultType="com.qz.zframe.common.entity.DeployMain">
    	select main_id mainId,main_code mainCode,MAIN_DEPLOY_NAME mainDeployName,MAIN_STATUS mainStatus,
    	MAIN_CODING mainCoding,MAIN_NUM mainNum from deploy_main where MAIN_ID = #{id}
    </select>
    
    <!-- 根据流程编号或流程名称查询流程信息 -->
    <select id="findDeployMainByCodeOrName" resultType="com.qz.zframe.common.entity.DeployMain">
    	select main_id mainId,main_code mainCode,MAIN_DEPLOY_NAME mainDeployName,MAIN_STATUS mainStatus,
    	MAIN_CODING mainCoding,MAIN_NUM mainNum from deploy_main where MAIN_CODE = #{mainCode}
    	or MAIN_DEPLOY_NAME = #{mainDeployName}
    </select>
    
    <!-- 新增流程 -->
    <insert id="addDeployMain" parameterType="com.qz.zframe.common.entity.DeployMain">
        insert into deploy_main (MAIN_ID,MAIN_CODE,MAIN_DEPLOY_NAME,MAIN_STATUS,MAIN_CODING)
        values(#{mainId},#{mainCode},#{mainDeployName},#{mainStatus},#{mainCoding})
    </insert>
    
    <!-- 修改流程 -->
    <update id="updateDeployMain" parameterType="com.qz.zframe.common.entity.DeployMain">
        update deploy_main set MAIN_CODE = #{mainCode},MAIN_DEPLOY_NAME = #{mainDeployName}
        MAIN_STATUS = #{mainStatus} where MAIN_ID = #{mainId}
    </update>
    
    <!-- 根据id查询流程步骤 -->
    <select id="queryDeployById" resultType="com.qz.zframe.common.entity.Deploy">
    	select DEPLOY_ID deployId,MAIN_ID mainId,DEPLOY_SORT deploySort,DEPLOY_NAME deployName
    	 from deploy where DEPLOY_ID = #{deployId}
    </select>
    
    <!-- 根据流程步骤名称查询流程步骤 -->
    <select id="findDeployByDeployName" resultType="com.qz.zframe.common.entity.Deploy">
    	select DEPLOY_ID deployId,MAIN_ID mainId,DEPLOY_SORT deploySort,DEPLOY_NAME deployName
    	 from deploy where DEPLOY_NAME = #{deployName}
    </select>
    
    <!-- 新增流程步骤 -->
    <insert id="addDeploy" parameterType="com.qz.zframe.common.entity.Deploy">
        insert into deploy (DEPLOY_ID,MAIN_ID,DEPLOY_NAME,CREATER,CREATE_TIME)
        values(#{deployId},#{mainId},#{deployName},#{creater},#{createTime})
    </insert>
    
    <!-- 新增流程步骤角色关联关系 -->
    <insert id="addDeployRole" parameterType="com.qz.zframe.common.entity.DeployRole">
        insert into isc_role_deploy (rela_id,DEPLOY_ID,role_id)
        values
        <foreach collection ="list" item="deployRoles" separator =",">
         (#{deployRoles.relaId}, #{deployRoles.deployId}, #{deployRoles.roleId})
    	</foreach >
    </insert>
    
    <!-- 修改流程步骤 -->
    <update id="updateDeploy" parameterType="com.qz.zframe.common.entity.Deploy">
        update deploy set DEPLOY_NAME = #{deployName} where DEPLOY_ID = #{deployId}
    </update>
    
    <!-- 删除流程步骤角色关联关系 -->
    <delete id="deleteDeployRole" parameterType="string" >
	    delete from isc_role_deploy
	    where DEPLOY_ID = #{deployId}
	</delete>
	
	<!-- 删除流程步骤 -->
    <delete id="deleteDeploy" parameterType="java.util.List" >
	    delete from deploy
	    where DEPLOY_ID in 
	    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
		#{item}
		</foreach>
	</delete>
	
	<!-- 批量删除流程步骤角色关联关系 -->
    <delete id="deleteDeployRoles" parameterType="java.util.List" >
	    delete from isc_role_deploy
	    where DEPLOY_ID in 
	    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
		#{item}
		</foreach>
	</delete>
	
	<!-- 根据流程步骤id查询关联角色信息 -->
    <select id="findRoleByDeployId" resultType="com.qz.zframe.isc.domain.IscRole">
    	select r.role_id roleId, r.role_name roleName from isc_role r,isc_role_deploy d 
    	where r.role_id = d.role_id and d.DEPLOY_ID = #{deployId}
    </select>
</mapper>